<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <div th:replace="common :: commonheader"></div>
    <title>成绩查询</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-xs-8">
            <h3>七年级成绩查询</h3>
            <label style="color: red" th:text="${msg}"></label>
            <form class="form-inline" th:action="@{/query}" method="get">
                <div class="form-group">
                    <label for="class_no">七年级：</label>
                    <input type="text" class="form-control" id="class_no" name="class_no" placeholder="输入数字即可(1/2/3/4/5）">
                    <span>班</span>
                </div>

                <div class="form-group">
                    <label for="name">姓名：</label>
                    <input type="text" class="form-control" id="name" name="name" placeholder="请输入学生姓名查询成绩">
                </div>
                <button type="submit" class="btn btn-default">查询</button>
            </form>
        </div>
    </div>


</div>


</body>
</html>